*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Kanit';
  src: url('./assets/kanit-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('./assets/kanit-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('./assets/kanit-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('./assets/rubikdirt-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#root {
  text-align: center;

  font-family: 'Kanit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  background-color: #e5e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  background-color: #e5e5e5;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: inherit;
  }
  &:focus {
    outline: none;
  }
}
p{
  font-weight: normal;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  position: fixed;
  z-index: 990;
  min-width: 100%;
  max-width: 100%;
  height: 60px;
  max-height: 60px;
  background-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
  color: white;

  @media (max-width: 768px) {
    grid-template-columns: auto 1fr;
  }

  #logo-div {
    display: flex;
    justify-content: left;
    margin-left: 5px;
  }
  #logo {
    height: auto;
    max-height: 50px;
    cursor: pointer;
    max-width: 15vw;
    @media (max-width: 768px) {
      visibility: hidden;
      width: 0;
    }
  }
  #div-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  #main-logo{
    margin-left: 5px;
    &:hover {
      animation: shaking 0.35s infinite;
    }
  }
  #page-name{
    font-size: clamp(15px, 2.4vw, 40px);
    font-family: 'Rubik';
    max-height: 56px;
    overflow: hidden;
    user-select: none;

    &:hover {
      animation: shaking-title 0.35s infinite;
    }
  }
  #cart-icon{
    width: 40px;
    &:hover {
      animation: shaking 0.35s infinite;
    }
  }
  #nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
  }
  
  .navbar {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
  margin: 0 20px;

  @media (max-width: 500px) {
    font-size: small;
  }
}
}
.headerShadow{
  height: 60px;
}

/* CARDS POLAROID */
.products-recommended{
  
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.product{
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
  transform: translateY(0px);

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-family: 'Rubik';
  }

  & img {
    width: 100%;
    border-radius: 0.5rem;
  }

  & .color{
    background-color: yellow;
  }

  &:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    border: 1px solid red;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
}

/* PRODUCT VIEW */
.product-view{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 2rem;


  .image-view{
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    grid-template-columns: 30vw 30vw;
    gap: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.011);
    padding: 1em;
  }
  .image-product-view{

    & img {
      width: 100%;
      border-radius: 0.5rem;
    }
    border-radius: 0.5rem;
  }

  /**//**//**/
  
  .product-info{
    padding: 1em;
  }
  .p-name{
    font-weight:900;
    font-size: xx-large;
    text-align: left;
    font-family: 'Rubik';
  }
  .p-price{
    text-align: left;
    font-size: xx-large;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .p-desc{
    text-align: left;
    white-space: pre-line;
  }
  .p-size{
    /*font-weight: bold;*/
    font-size: clamp(0.5em, 2vw, 3em);/*x-large;*/
    padding: clamp(2px, 5%, 1em);/*1em;*/
    display: flex;
    gap: 2vw; /*2rem;*/
    justify-content: center;
    align-items: center;

    span{
      cursor: pointer;
    }

    @media (max-width: 768px) {
      font-size: 6vw;
      gap: 6vw;
    }
  }
  .size-active{
    color: red;
    font-weight: bold; /*bold extrabold*/
  }
  .size-unactive{
    
  }
  .p-color{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    div{
      cursor: pointer;
    }
  }
  .color-div{
    border: 1px solid black;
    height: 20px;
    width: 20px;
  }
  .color-active{
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.344);
  }
  .p-stock{
    margin-top: 1em;
    text-align: left;
    font-weight: bold;
  }
  .p-but-add{
    font-size:x-large;
    margin-top: 1em;
    background-color: #650000;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    color: white;
    font-family: 'Kanit';

    anchor-name: --add-but;
    &:hover {
      /*background-color: #e0e0e0;*/
      box-shadow: 0 0 30px rgb(185, 185, 185);
      border: 1px solid red;
    }
  }

  .cart-message{
    color: darkgreen;
  }
  .cart-message-red{
    color: red;
  }
}

.subdivision{
  margin-top: 1em; }



/* CHECKOUT */
.checkout{

  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  flex-direction: column;
  padding: 2rem;

.checkout-products{
  margin:  1em auto;
  width: 800px;
  max-width: 100%;
  

  .checkout-product{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    background-color: white;
    margin: 3px auto;

    @media (max-width: 700px) {
      /*display: inline-flexbox;*/
      display: flex;
      white-space: nowrap;
      flex-wrap: wrap;
      justify-content: space-between;
      /*grid-template-columns: 1fr 1fr;*/
    }

    .checkout-product-info{
      display: flex;
      text-align: left;

      @media (max-width: 700px) {
      display: block;
      /*flex-wrap: wrap;*/ /* Permite que los elementos bajen de línea si no caben */
      }
    }

    .checkout-product-price{
      display: flex;
      gap: 1rem;
      justify-content: right;
    }
  }

  .checkout-text{
    margin: 0 0.5em;
  }
  .checkout-grey{
    color: grey;
  }

  .checkout-total{
    background-color: white;
    margin: 3px auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
}
.checkout-form{
  max-width: 800px;
  margin: 1rem auto;
  padding: auto 2rem;

  .form-group{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    width: 100%;
  }

  input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid grey;
    background-color: white;
    color: black;
    color: rgb(86, 18, 18);
  }
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid grey;
    background-color: white;
    color: black;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .submit-checkout{
    /*margin: 0 auto;
    max-width: 800px;
    user-select: none;*/
    color: black;
    
    width: 100%;
    background-color: white;
    border: 3px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    padding: 1rem;
    margin-left: auto;
    font-size: large;
    
    &:hover{
      background-color: rgb(255, 198, 198);
      transition: all 0.3s;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.51);
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
}
.checkout-pay-but{
  width: 200px;
      background-color: white;
      border: 3px solid gold;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
      padding: 1rem;
      margin: 3rem auto;

      &:hover{
        background-color: rgb(255, 246, 198);
        transition: all 0.3s;
        box-shadow: 0 0 10px rgba(255, 234, 0, 0.51);
        transform: translateY(-5px);
        cursor: pointer;
      }
}
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  font-size: medium;
  font-family: 'Kanit';
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
  .footer-links{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .copyright{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
  }
  hr{
    margin: 0 5rem;
  }
}

/* ANIMATION */
.img-animation{
  position: fixed;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  /*transform: translate(0, -300px);*/
  filter: opacity(0.5);
  
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes shaking-title {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-3px, 3px) rotate(2deg); }
  50% { transform: translate(3px, -3px) rotate(0deg); }
  80% { transform: translate(-3px, 3px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
@keyframes shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-2px, 1px) rotate(5deg); }
  50% { transform: translate(2px, -2px) rotate(0deg); }
  80% { transform: translate(-1px, 2px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}


@media (max-width: 768px) {
  .product-view{
    display:flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 2rem;
    
    .image-view{
      display: grid;
      flex-direction: column;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      /*grid-template-columns: 30vw 30vw;*/
      gap: 1rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.011);
      padding: 1em;
    }
  }
  
  .products-recommended{
  
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    box-shadow: 0 -10px 50px #e5e5e5;
  }
  
}



